[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mistral"]
	path = mistral
	url = https://github.com/cran/mistral
[submodule "sensitivity"]
	path = sensitivity
	url = https://github.com/cran/sensitivity
